.post-it {
    background-color: yellow;
    width: 200px;
    min-height: 200px;
    padding: 24px;
    margin: 24px;
    vertical-align: top;
    display: inline-block;
}

.violet {
    background-color: rgb(227, 119, 227);
}

.green {
    background-color:aqua;
}
.polaroid {
    background-color: #fff;
    padding: 10px;
}
.p-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 40px;
}