* {
    box-sizing: border-box
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.single-column {
    margin: 0px auto;
    width: 90%;
    max-width: 1200px:
}


h2 {
    text-align: center;
}
.card-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card {
    border: 5px solid lightblue;
    padding: 25px
}
.card h3 {
    margin: 0px;
    font-size: 35px;
}

.card p {
    margin 25px 0px; 0px;
}

