/* Resets Below */
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
#layout {
    width: 89%;
    max-width: 1280px;
    margin: 0px auto;
}
.three-column {
    display: flex;
    gap: 50px;
}
header {
    text-align: center;
}

img {
    width: 100%;
}

#thumbnail-column {
    width: 250px;
}

#featured-image-column {
    padding: 20px;
    border: 2px solid black;
    text-align: center;
}

#product-info-column {
}
.btn {
    background-color: blue;
}

.btn {
    text-decoration: none;
    background-color: blue
    padding: 10px 30px;
    display: inline-block;
    color: white;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #1115;
    border: 2px solid navy;
    transition: background-color 0.5s, color 0.5s;
}


