/* Resets Below */
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
img {
    width: 100%;
    object-fit: cover;
}
h1 {
    color: brown;
}
.rectangle-box {
    background-color: off-white;
    width: 400px;
    height: 200px;
    border: 10px solid brown;
    padding: 20px;   
}
.circle-box {
    background-color: off-white;
    border-radius: 50%;
    width: 400px;
    height: 200px;
    border: 10px solid brown;
    padding: 20px;   
}
.image-container {
    width: 350px;
    heigth: 200px;
}
.image-container img {
    width: 100%;
    height: 100%;
}
.image-container2 {
    background-color: off-white;
    border-radius: 50%;
    width: 250px;
    height: 250px;
}
.image-container2 img {
    border-radius: 50%;

}




}
/* Resets Above */
