@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playwrite+AT:ital,wght@0,100..400;1,100..400&display=swap');
* {
    box-sizing: border-box;
}

body {
     font-family: "Playwrite AT", cursive;
    margin: 0px;
}

.single-column {
    background-color: beiges
    max-width: 900%;
    margin-left: auto;
    margin-right: auto;
}

img {
    display: block;
    width: 100%
    object-fill: cover;
}
    
  
.medium-container {
    background-color: seagreen;
    image-rendering: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%
    height: auto;
    b
}
    

