* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0px;
}

.single-column {
    background-color: beige;
    max-width: 900%;
    margin-left: auto;
    margin-right: auto;
}

.single-column {
    image-rendering: auto
    margin-left:auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}
    

